:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ee4d2d;
  --border-color: #dbdbdb;
  --header-height: 120px;
  --navbar-height: 25px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
}

/* Không có sản phẩm trong giỏ hàng */
.cart__notify {
  position: absolute;
  /* top: 118%; */
  right: 30%;
  width: 404px;
  border: 1px solid #d3d3d3;
  background-color: #fdfdfd;
  cursor: default;
  transform-origin: top right;
  animation: headerNotifyGrowth ease-in 0.2s;
  /* -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s; */
  will-change: opacity, transform;
  display: none;
  margin-top: 10px;
  height: 300px;
  z-index: 99;
}

.cart__notify-list {
  cursor: default;
}

.cart__notify::before {
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 1px;
  top: -30px;
}

.cart__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 10px;
  right: 0;
  top: -20px;
  background-color: transparent;
}

.cart__notify-item {
  list-style: none;
}

.cart__notify-link {
  text-decoration: none;
}

.cart__notify-info {
  text-decoration: none;
  cursor: text;
}

.cart__notify-info p::selection {
  background-color: var(--primary-color);
}

.cart__notify-img {
  margin: 50px auto;
  cursor: default;
}

.cart__notify-description {
  text-decoration: none;
  font-size: 1.6rem;
  bottom: 0;
  margin: 10px auto;
  color: var(--text-color);
}

.header__cart-item--apperance:hover .cart__notify {
  display: block;
  cursor: pointer;
}

/* Có sản phẩm trong giỏ hàng */
.header__cart-notice {
  position: absolute;
  padding: 1px 7px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.5rem;
  line-height: 1.2rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  top: 0px;
  right: 45px;
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  cursor: text;
}

.header__cart-heading::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  cursor: default;
}

.header__cart-item {
  display: flex;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}
.header__cart-img {
  width: 50px;
  height: 42px;
  margin: 12px;
}

.header__cart-item-info {
  width: 100%;
  margin-top: 10px;
  cursor: default;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 12px;
}

.header__cart-item-price-wrap {
}
.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
}
.header__cart-item-price {
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: 400;
}
.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-quantity {
  color: #757575;
  font-size: 1.2rem;
}
.header__cart-item-body {
  text-align: left;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  margin-right: 12px;
  font-size: 1.3rem;
  color: #757575;
  font-weight: 400;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  margin-top: 15px;
  float: right;
  margin-right: 12px;
  width: 124px;
}

.header__cart-view-cart:hover {
  opacity: 0.9;
}
